.App {
  /* background-color: #ccc; */
}
.formCard {
  max-width: 600px;
  width: 60%;
  /* color: #fff; */
  /* background-color: grey; */
  margin: 0 auto;
}
.quiz-card {
  max-width: 600px;
  width: 60%;
  margin: 0 auto;
  font-size: 24px;
}
li {
  list-style: none;
}
